/*Section [Navigation gallery]*/
.nav-links li:nth-child(3) a {
  color: #c97919;
}

.nav-links li:nth-child(1) a {
  color: black;
}

.nav-links li:nth-child(1) a:hover {
  color: #c97919;
}

/*Section [Limited edition]*/
.billing {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #c97919;
  padding-bottom: 100px;
}

.billing-container {
  max-width: 1080px;
  margin: 0 auto;
}

.billing header {
  width: 330px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.billing header h3 {
  font-size: 4.1rem;
  font-weight: bold;
  margin-left: 55px;
  line-height: 1.1;
}

.billing h2 {
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 4rem;
}

.billing header img:last-child {
  width: 30%;
  height: 30%;
  position: relative;
  left: 38px;
  bottom: 40px;
}

.billing header img:first-child {
  position: relative;
  width: 60%;
  height: 60%;
  right: 10px;
}

/*Ticket*/
.ticket {
  background-color: white;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.ticket:hover {
  transform: scale(1.04, 1.04);
  transition: all 250ms ease-in-out;
}

.ticket h6 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 20px;
}

.ticket h5 {
  color: black;
}

.ticket h5:nth-child(12) {
  margin-bottom: 20px;
}

.ticket a {
  font-size: 1.3rem;
  text-decoration: underline;
  color: black;
}

.tickets a:hover {
  color: rgb(56, 56, 56);
}

.ticket p {
  color: black;
  font-size: 1.3rem;
}

.ticket p:nth-child(10) {
  margin-bottom: 40px;
}

.ticketAmount {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
  gap: 6px;
}

.ticketAmount span {
  font-size: 2.6rem;
  font-weight: 300;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ticketAmount span:hover {
  background-color: #c97919;
  transition: all 200ms ease-in-out;
}

.ticketAmount label {
  font-size: 1.8rem;
}

/*Section [Sale tickets]*/
.sale-tickets {
  width: fit-content;
}

.ticket-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

/*Section [Newsletter]*/
.newsletter {
  background-color: #c97919;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.newsletter-container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 47px;
}

.newsletter h2 {
  font-size: 4rem;
  font-weight: 600;
}

.btn-newsletter {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}

.btn-newsletter:hover {
  color: #c97919;
  transition: all 250ms ease-in-out;
}

.p-lastchild {
  margin-bottom: 20px;
}

/*Responsive*/
