/*Section [Navigation gallery]*/
.nav-links li:nth-child(3) a {
  color: #c97919;
}

.nav-links li:nth-child(1) a {
  color: black;
}

.nav-links li:nth-child(1) a:hover {
  color: #c97919;
}

/*Section [Limited edition]*/
.tickets-limited-edition {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #c97919;
}

.tickets-limited-edition header {
  width: 330px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tickets-limited-edition header h3 {
  font-size: 4.1rem;
  font-weight: bold;
  margin-left: 55px;
}

.tickets-limited-edition h2 {
  margin-bottom: 20px;
}

.tickets-limited-edition header img:last-child {
  width: 30%;
  height: 30%;
  position: relative;
  left: 38px;
  bottom: 40px;
}

.tickets-limited-edition header img:first-child {
  position: relative;
  width: 60%;
  height: 60%;
  right: 10px;
}

/*Section [name]*/

/*Section [name]*/

/*Responsive*/
