/*Section [Gallery Hero]*/
.gallery-hero {
  max-width: 100%;
  background-color: #c97919;
}

.gallery-hero-container {
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}

.gallery-hero-container figure {
  display: flex;
  gap: 26px;
}

.gallery-hero-container img {
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
}

.gallery-hero-container h2 {
  padding-top: 135px;
  margin-bottom: 133px;
}

/*Section [Section 1 Galleri-billeder]*/
.gallery-section-1 {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-container-blue {
  width: 50%;
  background-color: #aed8e5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  padding: 54px 0;
}

.gallery-container-blue img {
  margin-left: auto;
  margin-right: 40px;
}

.gallery-container-black {
  width: 50%;
  background-color: black;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 54px 0;
}

.gallery-container-black img {
  margin-right: auto;
  margin-left: 40px;
}

.gallery-section-1 img {
  width: 50%;
  height: 30%;
}

/*Section [name]*/

/*Responsive*/
