/*Section [Navigation gallery]*/
.nav-links li:nth-child(2) a {
  color: #c97919;
}

.nav-links li:nth-child(1) a {
  color: black;
}

.nav-links li:nth-child(1) a:hover {
  color: #c97919;
}

/*Section [Gallery Hero]*/
.gallery-hero {
  max-width: 100%;
  background-color: #c97919;
}

.gallery-hero-container {
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}

.gallery-hero-container figure {
  display: flex;
  gap: 26px;
}

.gallery-hero-container img {
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
}

.gallery-hero-container h2 {
  padding-top: 135px;
  margin-bottom: 133px;
}

/*Section [Section 1 Galleri-billeder]*/
.gallery-section-1 {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-container-blue {
  width: 50%;
  background-color: #aed8e5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  padding: 54px 0;
}

.gallery-container-blue img {
  margin-left: auto;
  margin-right: 40px;
}

.gallery-container-black {
  width: 50%;
  background-color: black;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 54px 0;
}

.gallery-container-black img {
  margin-right: auto;
  margin-left: 40px;
}

.gallery-section-1 img {
  width: 50%;
  height: 30%;
}

/*Section [Section 2 Galleri-billeder]*/
.gallery-section-2 {
  width: 100%;
  background-color: #c97919;
  height: auto;
  padding-bottom: 40px;
}

.gallery-grid-container {
  padding: 50px 0;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 90px;
  row-gap: 20px;
}

.gallery-grid-container img:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
}

.gallery-grid-container img:nth-child(12) {
  grid-column: span 1;
  grid-row: span 5;
  height: auto;
}

.gallery-grid-container img:last-child {
  grid-column-start: 2;
  grid-row: span 6;
}

.gallery-grid-container img:nth-child(11),
.gallery-grid-container img:nth-child(13) {
  padding: 0 25px;
}

.gallery-grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-section-2 .btn-fire {
  margin: 0 auto;
}

/*Responsive*/
