* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
}

h2 {
  font-size: 3.5rem;
  color: white;
}

h3 {
  font-size: 3rem;
  color: white;
}

h4 {
  font-size: 2.4rem;
  color: white;
}

h5 {
  font-size: 2.2rem;
  color: white;
}

h6 {
}

p {
  font-size: 1.8rem;
  color: white;
}

/*Navigation*/
.navigation {
  max-width: 100%;
}

nav {
  height: 180px;
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: white;
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 5px;
}

nav i {
  font-size: 3rem;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
}

.nav-links a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  display: block;
  margin-top: 7px;
  background-color: #e7be7e;
  transition: all 300ms ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: rgb(132, 91, 16);
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 100px;
    gap: 10px;
  }

  nav {
    height: 100px;
  }

  nav img {
    width: 60px;
    height: 60px;
    margin-left: 30px;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }

  nav img {
    margin-right: auto;
    margin-left: 20px;
  }
}

/*Section [Hero]*/
.hero {
  max-width: 100%;
  height: 600px;
  display: flex;
}

.hero div {
  background-color: black;
  width: 41.5%;
}

.hero video {
  width: 630px;
  height: 350px;
  object-fit: contain;
  border: 10px solid #c97919;
  position: relative;

  left: 30%;
}

.hero-article {
  background-color: #c97919;
  display: flex;
  flex-direction: column;
  width: 58.5%;
  align-items: center;
  justify-content: center;
}

.hero-article article {
  width: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px 35px;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: rgb(22, 22, 22);
  transition: all 250ms ease-in-out;
}

.hero p {
  font-size: 1.6rem;
  text-align: start;
}

.hero h4 {
  text-align: start;
}

.hero p:nth-child(15) {
  margin-bottom: 20px;
}

/*Section [Info]*/
.info {
  background-color: #c97919;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  padding: 100px 0 100px 0;
  gap: 27px;
}

.info-container {
  flex-direction: column;
  text-align: start;
}

.info-container article {
  background-color: #04050480;
  padding: 50px 10px;
  border-radius: 10px;
  flex-direction: column;
}

.info-container div {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  align-items: baseline;
  text-align: start;
}

.info-container img {
  width: 60px;
  height: 60px;
}

.info img {
  width: 40%;
  height: 40%;
}

.info-container h2 {
  text-align: center;
}

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Footer*/

/*Responsive*/
